/* CLEAR DEFAULT STYLES */
* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  font-size: 62.5%;
}
/* CLEAR DEFAULT STYLES */

/* FONT */
@font-face {
  font-family: rational;
  src: url("./font/rationaltwtextdemo-light.otf");
}

@font-face {
  font-family: rational-bold;
  src: url("./font/rationaltwtextdemo-semibold.otf");
}
/* END FONT */

/* COLORS */
:root {
  --logoGreen: #717245; /*logo (h1) on offWhite or greenishWhite*/
  --lightGreen: #e4f2e4; /*buttons on white background, sometimes background with black words*/
  --greenishWhite: #fbfbf5; /*nav background with logoGreen and black words*/
  --darkGreen: #2c4023; /*button outlines*/
  --brightYellow: #ffff23; /*accent color in random spots*/
  --red: #f36e5b; /*accent color in random spots*/
  --offWhite: #fff4e6; /*background color with black or logoGreen*/
  --white: #fffdfc; /*main background*/
  --black: #333333; /*main words*/
}
/* END COLORS */

body {
  font-family: "Courier New", Courier, monospace;
  background-color: var(--offWhite);
  color: var(--black);
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Work Sans", sans-serif;
}

h1 {
  font-size: 5.2rem;
}
h2 {
  font-size: 2.4rem;
}
h3 {
  font-size: 1.87rem;
}

p,
button {
  font-size: 1.5rem;
}
/* END FONT SIZE */



.container{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 75vh;
}

header{
  width: 100%;
  background-color: var(--greenishWhite);
  color: var(--logoGreen);
  padding: 4rem;
  text-align: center;
  min-height: 15vh;
  display: inline-block;
}

header img{
  float: left;
  width: 10rem;
}

.welcome p{
  font-size: 5rem;
  font-weight: bold;
  text-align: center;
}

.welcome button{
  margin-top: 10rem;
}

.questionCount {
  font-size: 2rem;
}

.question {
  background-color: var(--lightGreen);
  padding: 5rem;
  border-radius: 1rem;
  box-shadow: 0 4px 6px -1px var(--black);
  min-width: 50%;
}

.question p {
  font-size: 2.5rem;
  text-align: center;
  font-weight: bold;
}

.answers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 2rem;
  min-width: 45%;
}

.answers button {
  background-color: var(--greenishWhite);
  width: 45%;
  margin: 2rem 1rem;
  padding: 2rem;
  font-weight: bolder;
  border-radius: 0.5rem;
  box-shadow: 0 1px 3px 0 var(--black);
  outline:0;
}

.answers button:focus{
  box-shadow: 5px 5px 3px 1px rgba(51, 51, 51, 0.24); 
  transform: translateY(2px);
}

/* .answers button:hover{
  background-color: var(--darkGreen);
  color: var(--greenishWhite);
} */

.answers .right {
  color: green;
  border: 1px solid green;
}

.answers .wrong {
  color: var(--red);
  border: 1px solid var(--red);
}

.next, .restart, .start {
  font-size: 1.8rem;
  background-color: var(--lightGreen);
  border: 4px solid var(--darkGreen);
  border-radius: 0.5rem;
  width: 45%;
  margin: 2rem auto;
  padding: 1.5rem 2rem;
  font-weight: bolder;
  box-shadow: 0 1px 3px 0 var(--black);
  display: flex;
  justify-content: center;
  outline-color: var(--darkGreen);
}

.next:hover, .restart:hover, .start:hover {
  background-color: var(--darkGreen);
  color: var(--lightGreen);
}

.gameOver {
  font-size: 5rem;
  font-weight: bold;
  text-align: center;
}

.score, .scoreZero {
  font-size: 5rem;
  font-weight: bold;
  background-color: var(--lightGreen);
  padding: 2rem 10rem;
  margin: 2rem auto;
  text-align: center;
  border-radius: 1rem;
}

.scoreZero{
  font-size: 3rem;
}

.restart{
  margin-top: 10rem
}

footer{
  width: 100%;
  background-color: var(--greenishWhite);
  color: var(--logoGreen);
  font-size: 1.5rem;
  padding: 4rem;
  text-align: center;
  min-height: 10vh;
}

footer .icon {
  font-size: 2rem;
  vertical-align: middle;
}

/* DECORATION */

.dot1 {
  height: 50rem;
  width: 50rem;
  background-color: var(--brightYellow);
  border-radius: 50%;
  position: absolute;
  top: 5rem;
  left: -15rem;
  z-index: -1;
}

.dot2 {
  height: 50rem;
  width: 50rem;
  background-color: var(--red);
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  right: -25rem;
  z-index: -1;
}

/* END DECORATION */

/********* BIG SCREEN STYLES ************/
@media only screen and (min-width: 2500px) {
  header h1{
    margin-top: 6rem;
    font-size: 7rem;
  }
  header h3{
    font-size: 4rem;
    margin-left: 10rem;
  }
  .question{
    min-width: 80vw;
  }
  .score, .scoreZero{
    min-width: 70vw;
    padding: 10rem;
  }
  footer{
    padding: 7rem 0;
  }
}

/********* TABLET/MOBILE STYLES ************/
@media only screen and (max-width: 1100px) {
  .container{
    width: 90%;
    margin: 0 auto;
  }

  header{
    padding: 2rem;
  }
  
  h1{
    font-size: 3.2rem;
  }
  .answers button {
    width: 35%;
    margin: 2rem 1rem;
    padding: 2rem;
  }

  footer{
    padding: 2rem;
  }

  .dot1, .dot2 {
    height: 40rem;
    width: 40rem;
  }
}
/********* END TABLET/MOBILE STYLES ************/

/********* SMALL MOBILE STYLES ************/
@media only screen and (max-width: 450px) {

  header img{
    width: 3rem;
  }
  header h3{
    margin-left: 3rem;
    font-size: 1.5rem;
  }
  
  .trivia{
    margin: 3rem auto 5rem;
  }

  .question{
    padding: 2rem 1rem;
  }

  .answers button{
    width: 100%;
    margin: 1rem;
    padding: 1.5rem;
  }

  .next{
    width: 80%;
  }

  .score{
    width: 80%;
    padding: 2rem 3rem;
  }

  .dot1, .dot2 {
    height: 35rem;
    width: 35rem;
  }
}
/********* END SMALL MOBILE STYLES ************/



